<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string></string>
	<key>contactName</key>
	<string>Seth</string>
	<key>description</key>
	<string>Support for the &lt;a href="http://lolang.org/"&gt;Lo&lt;/a&gt; programming language.</string>
	<key>name</key>
	<string>Lo</string>
	<key>uuid</key>
	<string>96753B1C-BC5B-46EC-BBFA-7982AE79D7A6</string>
</dict>
</plist>
